<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>CiscoEmployees.png</string>
			<key>Regular Expression</key>
			<!-- <string>(?s)^.{1,1900}$</string> -->
			<string>(?s)^[a-zA-Z.@ ]{1,30}$</string>
			<key>Title</key>
			<string>Search Cisco Employees</string>
			<key>URL</key>
<string>http://wwwin-tools.cisco.com/dir/empquery.go?q={popclip text}</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://github.com/clamprey</string>
			<key>Name</key>
			<string>Charles Lamprey</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for Cisco employee(s) with the selected name.</string>
	<key>Extension Identifier</key>
	<string>com.bigkahunaproducts.popclip.extension.ciscoEmployee</string>
	<key>Extension Name</key>
	<string>SearchCiscoEmployees</string>
</dict>
</plist>